button.nav-link {
    background: #e9ecef;
    border-radius: 0;
    border: none;
   
    &:focus, &:active, &.active:focus{
        outline: none;
    }
    &.active:hover{
        color: white;
    }
    &:disabled:not(.active){
        color: #333;
    }
    
}