<div class="bg-light px-4 py-3 text-uppercase font-weight-bold">
    Resumen de Compra
</div>
<div class="p-4">
    <p class="font-italic mb-2">
        Los costes del envío se añadirán después
    </p>
    <ul class="list-unstyled m-2" >
        <li class="d-flex justify-content-between border-bottom">
            <strong class="text-muted"> Order subtotal</strong>
            <strong> {{subtotal |currency }} </strong>
        </li>
        <li class="d-flex justify-content-between border-bottom">
            <strong class="text-muted"> Envío y manipulación</strong>
            <strong> {{ shipping |currency }} </strong>
        </li>
        <li class="d-flex justify-content-between border-bottom">
            <strong class="text-muted"> Total</strong>
            <strong> {{ total | currency }} </strong>
        </li>
    </ul>
</div>
