<div class="mt-4" [formGroup]="checkOutForm">
    <div class="d-flex justify-content-between align-itmes-center">
        <h4>Shipping Address</h4>
        <button (click)="onClickSaveAddress()" 
            [disabled]="!this.checkOutForm.controls.addressForm.valid || 
                        !this.checkOutForm.controls.addressForm.dirty" 
            class="btn btn-outline-success mb-2">Save as default address</button>
    </div>

    <div class="row" formGroupName="addressForm">
        <div class="form-group col-6">
            <app-text-imput [label]="'First Name'" formControlName="firstName"></app-text-imput>
        </div>
        <div class="form-group col-6">
            <app-text-imput [label]="'Last Name'" formControlName="lastName"></app-text-imput>
        </div>
        <div class="form-group col-6">
            <app-text-imput [label]="'Street'" formControlName="street"></app-text-imput>
        </div>
        <div class="form-group col-6">
            <app-text-imput [label]="'City'" formControlName="city"></app-text-imput>
        </div>
        <div class="form-group col-6">
            <app-text-imput [label]="'State'" formControlName="state"></app-text-imput>
        </div>
        <div class="form-group col-6">
            <app-text-imput [label]="'Zip Code'" formControlName="zipcode"></app-text-imput>
        </div>
    </div>
</div>
<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
    <button type="button" routerLink="/basket" class="btn btn-outline-primary">
        <i class="fa fa-angle-left"></i>Back to Basket
    </button>
    <button type="button" [disabled]="!(checkOutForm.get('addressForm')).valid" class="btn btn-primary" cdkStepperNext>
        Go to delivery<i class="fa fa-angle-right"></i>
    </button>
</div>