<div class="container">

<div class="row">
  <div class="col-12">
    <div class="card">
      <h4 class="card-title">Temas</h4>
      <div class="card-body">
        <div class="r-panel-body">
          <div class="dropdown-menu show" aria-labelledby="themes">
            <div class="dropdown-divider"></div>
            <a #link2 class="dropdown-item puntero" theme="Cerulean"
              (click)="cambiarcolor($event,'Cerulean', link2)">Cerulean</a>
            <a #link3 class="dropdown-item puntero" theme="Cosmo"
              (click)="cambiarcolor($event,'Cosmo', link3)">Cosmo</a>
            <a #link4 class="dropdown-item puntero" theme="Cyborg"
              (click)="cambiarcolor($event,'Cyborg', link4)">Cyborg</a>
            <a #link5 class="dropdown-item puntero" theme="Darkly"
              (click)="cambiarcolor($event,'Darkly', link5)">Darkly</a>
            <a #link6 class="dropdown-item puntero" theme="Flatly"
              (click)="cambiarcolor($event,'Flatly', link6)">Flatly</a>
            <a #link7 class="dropdown-item puntero" theme="Journal"
              (click)="cambiarcolor($event,'Journal', link7)">Journal</a>
            <a #link8 class="dropdown-item puntero" theme="Litera"
              (click)="cambiarcolor($event,'Litera', link8)">Litera</a>
            <a #link9 class="dropdown-item puntero" theme="Lumen"
              (click)="cambiarcolor($event,'Lumen', link9)">Lumen</a>
            <a #link10 class="dropdown-item puntero" theme="Lux" (click)="cambiarcolor($event,'Lux', link10)">Lux</a>
            <a #link11 class="dropdown-item puntero" theme="Materia"
              (click)="cambiarcolor($event,'Materia', link11)">Materia</a>
            <a #link12 class="dropdown-item puntero" theme="Minty"
              (click)="cambiarcolor($event,'Minty', link12)">Minty</a>
            <a #link13 class="dropdown-item puntero" theme="Pulse"
              (click)="cambiarcolor($event,'Pulse', link13)">Pulse</a>
            <a #link14 class="dropdown-item puntero" theme="Sandstone"
              (click)="cambiarcolor($event,'Sandstone', link14)">Sandstone</a>
            <a #link15 class="dropdown-item puntero" theme="Simplex"
              (click)="cambiarcolor($event,'Simplex', link15)">Simplex</a>
            <a #link16 class="dropdown-item puntero" theme="Sketchy"
              (click)="cambiarcolor($event,'Sketchy', link16)">Sketchy</a>
            <a #link17 class="dropdown-item puntero" theme="Slate"
              (click)="cambiarcolor($event,'Slate', link17)">Slate</a>
            <a #link18 class="dropdown-item puntero" theme="Solar"
              (click)="cambiarcolor($event,'Solar', link18)">Solar</a>
            <a #link19 class="dropdown-item puntero" theme="Spacelab"
              (click)="cambiarcolor($event,'Spacelab', link19)">Spacelab</a>
            <a #link20 class="dropdown-item puntero" theme="Superhero"
              (click)="cambiarcolor($event,'Superhero', link20)">Superhero</a>
            <a #link21 class="dropdown-item puntero" theme="United"
              (click)="cambiarcolor($event,'United', link21)">United</a>
            <a #link22 class="dropdown-item puntero" theme="Yeti" (click)="cambiarcolor($event,'Yeti', link22)">Yeti</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
